<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Training</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1 style="text-align: center">CRUD Jonas</h1>

    {% block content %}
    <!-- mas cada pagina ira ter esse trecho da pagina base -->
    {% endblock %}
    <!-- aqui nos delimitamos pois podera ter um conteudo diferente -->
  </body>
</html>
