{% extends 'base.html' %}
    {% block content %}
    <body>
        <form action="/edit/{{ person.id }}" method="POST" class="container">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="nome" id="nome" placeholder="nome" class="form-control" value="{{ person.nome }}">
                </div>
                <div class="col-md-4">
                    <input type="text" name="preco" id="preco" placeholder="Price" class="form-control" value="{{ person.preco }}"> <!-- Campo para preço -->
                </div>
            </div>
            <br>
            <div class="row-col-xs-12">
                <button type="submit" class="btn btn-block btn-sucess">Send</button>
            </div>
        </form>
    </body>
    </html>
    {% endblock %}